.container_body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.body_container {
  min-height: 100vh;
  height: 800px;
  width: 100%;
  background: #e7e8d1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.titleContainer {
  text-align: center;
  margin-bottom: 20px;
}

.pageTitle {
  margin-top: 0;
}

.container {
  width: 70%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 10px;
}

.container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .content .left_side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

.content .left_side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}

.content .left_side .details {
  margin: 14px;
  text-align: center;
}

.content .left_side .details i {
  font-size: 30px;
  color: #b85042;
  margin-bottom: 10px;
}

.content .left_side .details .topic {
  font-size: 18px;
  font-weight: 500;
  color: #b85042;
}

.content .left_side .details .text_one,
.content .left_side .details .text_two {
  font-size: 14px;
  color: #afafb6;
}

.container .content .right_side {
  width: 75%;
  margin-left: 75px;
}

.content .right_side .topic_text {
  font-size: 23px;
  font-weight: 600;
  color: #b85042;
}

.right_side .input_box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}

.right_side .input_box input,
.right_side .input_box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

.right_side .message-box {
  min-height: 110px;
}

.right_side .input_box textarea {
  padding-top: 6px;
}

.right_side .button {
  display: inline-block;
  margin-top: 12px;
}

.right_side .button input[type="button"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #b85042;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input[type="button"]:hover {
  background: #b85042;
}

@media (max-width: 950px) {
  .container {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }
  .container .content .right_side {
    width: 75%;
    margin-left: 55px;
  }
}

@media (max-width: 820px) {
  .container {
    margin: 0;
    height: 100%;
  }
  .container .content {
    flex-direction: column-reverse;
  }
  .container .content .left_side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container .content .left_side::before {
    display: none;
  }
  .container .content .right_side {
    width: 100%;
    margin-left: 0;
  }
}

.responsivemap {
  overflow: hidden;
  height: 0;
  padding-bottom: 50%;
  position: relative;
}

.responsivemap iframe {
  border: 0;
  border-color: #b85042;
  width: 100%;
}

.container2 {
  width: 30%;
  height: 71%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  margin-right: 10px;
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.inputfield {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.buttonsubmit {
  width: 100%;
  padding: 12px;
  background-color: #b85042;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 30px;
}
