.container {
  margin-bottom: 80px;
  margin-left: 30px;
}

.summaryTitle {
  background-color: #b85042;
  width: 98%;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  color: white;
}

.bookingcard {
  margin-left: 20px;
  padding: 20px;
}

.titleSubHeading {
  font-size: 24px;
  text-align: center;
  text-decoration-line: underline;
}


.placeOrderButton {
  margin-top: 20px;
  font-size: 16px;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #b85042;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem #b85042;
  }

  &:disabled {
    background-color: #b85042;
    cursor: not-allowed;
  }
}
