.container {
    margin-top: 20px;
    margin-bottom: 80px;
  }
  
  .summaryTitle {
    background-color: #0056b3;
    width: 98%;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    color: white;
  }
  
  .bookingcard {
    padding: 20px;
  }
  
  .titleSubHeading {
    font-size: 24px;
    text-align: center;
    text-decoration-line: underline;
  }
  

  /* YourComponent.module.css */

.placeOrderButton {
  margin-top: 20px;
  background-color: #007bff; /* Blue color for the button */
  color: white;
  font-size: 16px;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color */

  /* Hover effect */
  &:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }

  /* Focus effect */
  &:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); /* Add focus shadow */
  }

  /* Disabled state */
  &:disabled {
    background-color: #b3c7e0; /* Light blue for disabled button */
    cursor: not-allowed;
  }
}
